.table {
    tr td {
        padding: 15px;
    }

    td {
        font-size: 30px;
        font-weight: "bold";
        font-family: 'Times New Roman', Times, serif;
    }
}

.container-home {
    background-image: url('./quandoan.png');
    height: 100vh;
    background-repeat: round;
}