.contests-page {

    .title {
        margin-top: 20px;
        text-align: center;
    }

}

.contests-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.contest-box {

    margin: 10px;

    div {
        border: 1px solid black;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}