.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    
}
.question-container {
    margin: 0;
    display: flex;
    flex-grow: 3.5;
    align-items: center;
    justify-content: center;
}

.question-content {
     color: white;
     font-size: x-large;
     font-weight: bold;
     padding-top: 30px;
     >span {
         
        
     }
    

}
.question-text {
   color: white;
}
.question {
  width: 80%;
  text-align: center;
  background-color: #3186b4;
  border-radius: 20px;
  height: 200px;
 
  >span {
     
      font-weight: bold;
      color: white;
  }
  
}
.question-number {
    position: relative;
    top: 0;
    font-weight: 800;
    padding: 5px 15px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    display: inline-block;
    background-color: #3396e6;
    color: #ffffff;
    text-transform: uppercase;

}
.plan-title {
    position: relative;
    top: 0;
    font-weight: 800;
    padding: 5px 15px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    display: inline-block;
    background-color: #222f3d;
    color: #ffffff;
    text-transform: uppercase;
  }

.plan {
    margin: 0;
    width: 25%;
    position: relative;
    float: left;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  } 

.answer-container {
    flex-grow: 2;
    
}

.answer-contain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.each-answer-container {
    background-color: #3186b4;
    width: 80%;
    height: 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
   
    > div  {
        flex-grow: 0.5;
        text-align: center;
        >span {
        background-color:  #87bdd7;
        border-radius: 50%;
            color: #2875a9;
            font-size: 30px;
            padding: 2px 10px;
           
           
        }
    }
    >p {
        flex-grow: 8;
        text-align: left;
        color: white;
        font-size: 20px;
        margin: auto;
    }
   
    
}


.wrap {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 310px;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

// Variables
$lato: 'Lato';

// Title
h1 {
    margin-bottom: 60px;
    text-align: center;
    font: 300 2.25em $lato;
    text-transform: uppercase;

    strong {
        font-weight: 400;
        color: #ea4c4c;
    }
}

h2 {
    margin-bottom: 80px;
    text-align: center;
    font: 300 0.7em $lato;
    text-transform: uppercase;

    strong {
        font-weight: 400;
    }
}
.timer-container {
    background-color: #040f2b;
    color: white;
    width: 140px;
    height: 140px;
    border-radius: 7px;
    text-align: center;
    text-transform: capitalize;
    >p {
        text-transform: capitalize;
        font-weight: bold;
    }
    ;
}
.counter {
    margin-top: 160px;
    >p {
        color: #040f2b;
        font-weight: bold;
    }
}
.number {
    color: #fff;
    font-weight: bold;
    font: 300 2.25em $lato;
    font-size: 100px;
    text-transform: uppercase;
   
}



// Countdown
.countdown {
    margin: 0 auto;

    .bloc-time {
        float: left;
        margin-right: 45px;
        text-align: center;

        //   &:last-child {
        //     margin-right: 0;
        //   }
    }

    .count-title {
        display: block;
        margin-bottom: 15px;
        font: normal 0.94em $lato;
        color: #1a1a1a;
        text-transform: uppercase;
    }

    .figure {
        position: relative;
        float: left;
        height: 110px;
        width: 100px;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: (0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08));

        &:last-child {
            margin-right: 0;
        }

        >span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            font: normal 5.94em/107px $lato;
            font-weight: 700;
            color: #de4848;
        }

        .top,
        .bottom-back {
            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }

        .top {
            z-index: 3;
            background-color: #f7f7f7;
            transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;

            // @include border-top-radius(10px); 
            // @include transform(perspective(200px));
        }

        .bottom {
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background-color: rgba(0, 0, 0, .02);
            }
        }

        .bottom-back {
            z-index: 2;
            top: 0;
            height: 50%;
            overflow: hidden;
            background-color: #f7f7f7;
            // @include border-top-radius(10px);

            span {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .top,
        .top-back {
            height: 50%;
            overflow: hidden;
            // @include backface-visibility(hidden);
        }

        .top-back {
            z-index: 4;
            bottom: 0;
            background-color: #fff;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            //  @include transform(perspective(200px) rotateX(180deg));
            // @include border-bottom-radius(10px); 

            span {
                position: absolute;
                top: -100%;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

// .question-container {
//     display: flex;
//     flex: 100;
//     justify-content: center;
//     height: 120px;
//     >p {
//         background-color: #ccc;
//         width: 80%;
//         text-align: center;
//     }
// }



// .answer-contain {}

// .each-answer-container {
//     background-color: #ccc;
//     width: 70%;
//     text-align: center;
//     margin-top: 50px;
//     height: 70px;

// }

// .question {
//     background-color: #ccc;
//     height: 120px;
// }

// .container {
//     flex-direction: column;
//     display: flex;
//     height: calc(100vh - 50px);
// }

// .answer-container {
//     display: flex;
//     flex: 1.5;
// }

// .question-contest-container {
//     display: flex;
//     align-items: center;
//     flex: 1;
//     justify-content: center;
// }

// .question-contest {}